@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/Reader\/public\/stylesheets\/global\.less}line{font-family:\000031}}
* {
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/Reader\/public\/stylesheets\/global\.less}line{font-family:\000039}}
:before,
:after {
  box-sizing: border-box;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/Reader\/public\/stylesheets\/global\.less}line{font-family:\0000315}}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/Reader\/public\/stylesheets\/global\.less}line{font-family:\0000323}}
body {
  font-family: Tahoma, Helvetica, "microsoft yahei", "Hiragino Sans GB", Simsun, sans-serif;
  line-height: 1.5;
  font-size: 12px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/Reader\/public\/stylesheets\/global\.less}line{font-family:\0000329}}
input,
button {
  outline: none;
  border: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/Reader\/public\/stylesheets\/global\.less}line{font-family:\0000335}}
input,
textarea,
button {
  font-family: Tahoma, Helvetica, "microsoft yahei", "Hiragino Sans GB", Simsun, sans-serif;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/Reader\/public\/stylesheets\/global\.less}line{font-family:\0000341}}
img {
  vertical-align: middle;
  border: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/Reader\/public\/stylesheets\/global\.less}line{font-family:\0000346}}
a {
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/Reader\/public\/stylesheets\/global\.less}line{font-family:\0000350}}
a:hover {
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/Reader\/public\/stylesheets\/global\.less}line{font-family:\0000354}}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/Reader\/public\/stylesheets\/global\.less}line{font-family:\0000363}}
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
form {
  margin: 0;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/Reader\/public\/stylesheets\/global\.less}line{font-family:\0000379}}
ul,
ol,
li {
  list-style: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/Reader\/public\/stylesheets\/global\.less}line{font-family:\0000385}}
.fL {
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/Reader\/public\/stylesheets\/global\.less}line{font-family:\0000389}}
.fR {
  float: right;
}
/*文本单行超出省略号表示*/
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/Reader\/public\/stylesheets\/global\.less}line{font-family:\0000396}}
.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/Reader\/public\/stylesheets\/global\.less}line{font-family:\00003102}}
.clearfix:before,
.clearfix:after,
.row:before,
.row:after,
.form-group:before,
.form-group:after,
.hd:before,
.hd:after,
.bd:before,
.bd:after {
  display: table;
  content: "";
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/Reader\/public\/stylesheets\/global\.less}line{font-family:\00003116}}
.clearfix:after,
.row:after,
.form-group:after,
.hd:after,
.bd:after {
  clear: both;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/Reader\/public\/stylesheets\/global\.less}line{font-family:\00003124}}
.clearfix {
  *zoom: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/Reader\/public\/stylesheets\/global\.less}line{font-family:\00003128}}
.clear {
  clear: both;
}
/*手势*/
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/Reader\/public\/stylesheets\/global\.less}line{font-family:\00003135}}
.pointer {
  cursor: pointer;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/Reader\/public\/stylesheets\/global\.less}line{font-family:\00003139}}
.all-wrap {
  width: 1000px;
  margin: 0 auto;
  min-height: 100%;
  position: relative;
  padding-bottom: 116px;
}
/*头部*/
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/Reader\/public\/stylesheets\/global\.less}line{font-family:\00003152}}
.search {
  position: relative;
  margin: 0 30px;
  height: 110px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/Reader\/public\/stylesheets\/global\.less}line{font-family:\00003156}}
.search .logo {
  position: absolute;
  top: 19px;
  left: 0;
  width: 139px;
  height: 50px;
  background: url(../images/logo.png) 100% 100% no-repeat;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/Reader\/public\/stylesheets\/global\.less}line{font-family:\00003164}}
.search .searchbox {
  margin-left: 154px;
  padding-top: 30px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/Reader\/public\/stylesheets\/global\.less}line{font-family:\00003167}}
.search .searchbox .s-word {
  width: 372px;
  height: 35px;
  font-size: 13px;
  padding: 10px;
  text-indent: 0;
  border: 1px solid #b8b8b8;
  color: #000;
  border-color: #b8b8b8 #b8b8b8 #ccc;
  background: #fff;
  outline: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/Reader\/public\/stylesheets\/global\.less}line{font-family:\00003179}}
.search .searchbox .s-submit {
  display: inline-block;
  cursor: pointer;
  margin-left: -4px;
  width: 100px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  color: #333;
  border: 1px solid #ccc;
  font-size: 14px;
  vertical-align: top;
  background: #fcfcfc;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fcfcfc), color-stop(100%, #f3f3f3));
  background: -webkit-linear-gradient(top, #fcfcfc 0, #f3f3f3 100%);
  background: linear-gradient(to bottom, #fcfcfc 0, #f3f3f3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#f3f3f3', GradientType=0);
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/Reader\/public\/stylesheets\/global\.less}line{font-family:\00003203}}
.nav {
  position: relative;
  width: 100%;
  border-bottom: 2px solid #58bd5a;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/Reader\/public\/stylesheets\/global\.less}line{font-family:\00003207}}
.nav .nav-inner {
  height: 32px;
  margin: 0 30px;
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/Reader\/public\/stylesheets\/global\.less}line{font-family:\00003212}}
.nav .nav-li {
  float: left;
  height: 32px;
  line-height: 32px;
  text-align: center;
  font-size: 16px;
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/Reader\/public\/stylesheets\/global\.less}line{font-family:\00003221}}
.nav .nav-li:hover .nav-border,
.nav .nav-li.current .nav-border {
  height: 4px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/Reader\/public\/stylesheets\/global\.less}line{font-family:\00003225}}
.nav .nav-li a {
  display: block;
  position: relative;
  padding: 0 35px;
  color: #333;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/Reader\/public\/stylesheets\/global\.less}line{font-family:\00003234}}
.nav .nav-li a:hover {
  color: #2f9b34;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/Reader\/public\/stylesheets\/global\.less}line{font-family:\00003238}}
.nav .nav-li .nav-border {
  width: 100%;
  display: block;
  height: 0;
  background: #53B856;
  position: absolute;
  left: 0;
  bottom: -1px;
  -webkit-transition: all .2s;
  transition: all .2s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/Reader\/public\/stylesheets\/global\.less}line{font-family:\00003252}}
.nav .nav-right {
  position: absolute;
  right: 0;
  bottom: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/Reader\/public\/stylesheets\/global\.less}line{font-family:\00003256}}
.nav .nav-right a {
  display: block;
  width: 123px;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  position: relative;
  color: #666;
  padding-left: 33px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/Reader\/public\/stylesheets\/global\.less}line{font-family:\00003265}}
.nav .nav-right a .nav-mybook {
  background-image: url(../images/icon.png);
  background-position: -184px -212px;
  background-repeat: no-repeat;
  display: block;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 7px;
  left: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/Reader\/public\/stylesheets\/global\.less}line{font-family:\00003276}}
.nav .nav-right a:hover {
  color: #56A857;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/Reader\/public\/stylesheets\/global\.less}line{font-family:\00003278}}
.nav .nav-right a:hover .nav-mybook {
  background-position: -184px -152px;
}
/*页脚*/
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/Reader\/public\/stylesheets\/global\.less}line{font-family:\00003287}}
.footer {
  line-height: 1;
  font-size: 12px;
  padding: 40px 0;
  color: #888;
  background-color: #fff;
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/Reader\/public\/stylesheets\/global\.less}line{font-family:\00003297}}
.footer .contact {
  font-size: 14px;
  margin-bottom: 10px;
}
/*翻页*/
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/Reader\/public\/stylesheets\/global\.less}line{font-family:\00003304}}
.page {
  font-size: 14px;
  text-align: center;
  padding: 8px 0;
  border-bottom: 1px solid #ccc;
  vertical-align: top;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/Reader\/public\/stylesheets\/global\.less}line{font-family:\00003310}}
.page .total {
  display: inline-block;
  vertical-align: top;
  height: 24px;
  padding: 2px 4px;
  margin: 0 4px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/Reader\/public\/stylesheets\/global\.less}line{font-family:\00003317}}
.page input {
  height: 24px;
  line-height: 24px;
  width: 30px;
  border: 1px solid #e7ecf0;
  padding-left: 6px;
  vertical-align: top;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/Reader\/public\/stylesheets\/global\.less}line{font-family:\00003325}}
.page button,
.page a {
  display: inline-block;
  vertical-align: top;
  height: 24px;
  line-height: 24px;
  border: 1px solid #e7ecf0;
  background: #fff;
  text-align: center;
  padding: 0 4px;
  cursor: pointer;
  margin: 0 4px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/Reader\/public\/stylesheets\/global\.less}line{font-family:\00003336}}
.page button:hover,
.page a:hover {
  background: #e9f1f7;
  color: #0000cd;
}
/*空白页*/
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/Reader\/public\/stylesheets\/global\.less}line{font-family:\00003344}}
.empty-page {
  text-align: center;
}
/*主体*/
/*首页*/
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/Reader\/public\/stylesheets\/global\.less}line{font-family:\00003354}}
.index .banner {
  margin: 20px 0;
  height: 285px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/Reader\/public\/stylesheets\/global\.less}line{font-family:\00003357}}
.index .banner img {
  width: 100%;
  height: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/Reader\/public\/stylesheets\/global\.less}line{font-family:\00003362}}
.index .tag {
  margin: 0 30px;
  padding: 10px 0 25px;
  text-align: center;
  background: url(../images/line.png) 1px bottom repeat-x;
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/Reader\/public\/stylesheets\/global\.less}line{font-family:\00003368}}
.index .tag .tag-name {
  display: inline-block;
  padding: 22px 10px 0 0;
  height: 43px;
  line-height: 21px;
  font-size: 16px;
  color: #555;
  vertical-align: top;
  font-weight: 700;
  position: absolute;
  left: 25px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/Reader\/public\/stylesheets\/global\.less}line{font-family:\00003380}}
.index .tag .tag-ul {
  display: block;
  padding-left: 10px;
  margin-left: 70px;
  text-align: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/Reader\/public\/stylesheets\/global\.less}line{font-family:\00003385}}
.index .tag .tag-ul li {
  float: left;
  margin: 15px 10px 0 0;
  height: 32px;
  line-height: 30px;
  font-size: 15px;
  border-radius: 7px;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/Reader\/public\/stylesheets\/global\.less}line{font-family:\00003393}}
.index .tag .tag-ul li a {
  display: inline-block;
  border-radius: 6px;
  background-color: #53b856;
  color: #fff;
  border: 1px solid #53b856;
  padding: 0 15px;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/Reader\/public\/stylesheets\/global\.less}line{font-family:\00003404}}
.index .tag .tag-ul li a:hover {
  background-color: #fff;
  color: #555;
  border: 1px solid #d3d3d3;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/Reader\/public\/stylesheets\/global\.less}line{font-family:\00003413}}
.index .book_mod {
  background: url(../images/line.png) 1px bottom no-repeat;
  background-color: #f6f5ee;
  margin: 0 30px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/Reader\/public\/stylesheets\/global\.less}line{font-family:\00003417}}
.index .book_mod .hd {
  padding: 22px 0 5px;
  text-align: center;
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/Reader\/public\/stylesheets\/global\.less}line{font-family:\00003421}}
.index .book_mod .hd a {
  position: relative;
  right: 10px;
  float: right;
  color: #666;
  font-size: 14px;
  padding: 5px 10px;
  vertical-align: top;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/Reader\/public\/stylesheets\/global\.less}line{font-family:\00003430}}
.index .book_mod .hd .mod-title {
  font-size: 24px;
  color: #444;
  font-weight: 400;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/Reader\/public\/stylesheets\/global\.less}line{font-family:\00003436}}
.index .book_mod .bd {
  padding: 0 30px 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/Reader\/public\/stylesheets\/global\.less}line{font-family:\00003438}}
.index .book_mod .bd .book {
  float: left;
  width: 157px;
  height: 263px;
  margin-left: 11px;
  margin-bottom: 20px;
  text-align: center;
  position: relative
  /*overflow: hidden;*/
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/Reader\/public\/stylesheets\/global\.less}line{font-family:\00003447}}
.index .book_mod .bd .book .book-cover {
  display: block;
  width: 157px;
  height: 197px;
  padding: 16px;
  margin: 0 auto
  /* background: url(../images/book_bg.png) no-repeat -79px -64px*/
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/Reader\/public\/stylesheets\/global\.less}line{font-family:\00003454}}
.index .book_mod .bd .book .book-cover img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 3px 5px #b0b0b0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/Reader\/public\/stylesheets\/global\.less}line{font-family:\00003461}}
.index .book_mod .bd .book .book-title {
  font-size: 15px;
  margin-top: 2px;
  color: #555;
  width: 157px;
  padding-left: 7px;
  display: block;
  line-height: 21px;
  height: 42px;
  overflow: hidden;
  word-break: break-all;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/Reader\/public\/stylesheets\/global\.less}line{font-family:\00003473}}
.index .book_mod .bd .book .book-num {
  color: #c97618;
  font-size: 14px;
  height: 23px;
  line-height: 23px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/Reader\/public\/stylesheets\/global\.less}line{font-family:\00003479}}
.index .book_mod .bd .book .book-cata {
  display: none;
}
/*分类页面*/
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/Reader\/public\/stylesheets\/global\.less}line{font-family:\00003487}}
.sort-page,
.dynamics {
  padding-top: 30px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/Reader\/public\/stylesheets\/global\.less}line{font-family:\00003490}}
.catalog {
  width: 240px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/Reader\/public\/stylesheets\/global\.less}line{font-family:\00003492}}
.catalog .list-title {
  display: block;
  background: #34495e;
  color: #fff;
  font-size: 14px;
  height: 42px;
  line-height: 42px;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/Reader\/public\/stylesheets\/global\.less}line{font-family:\00003501}}
.catalog .list-cate1 {
  display: block;
  width: 240px;
  height: 36px;
  line-height: 36px;
  padding-left: 20px;
  position: relative;
  border: 1px solid #ededed;
  border-top: 0;
  background: #F5F4F2;
  font-size: 12px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/Reader\/public\/stylesheets\/global\.less}line{font-family:\00003512}}
.catalog .list-cate1 .ic {
  display: inline-block;
  height: 16px;
  width: 16px;
  position: absolute;
  background: url(../images/get.png) no-repeat 0 16px;
  z-index: 1;
  right: 8px;
  top: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/Reader\/public\/stylesheets\/global\.less}line{font-family:\00003522}}
.catalog .list-cate1:hover,
.catalog .list-cate1.current {
  background-color: #34495e;
  border-color: #34495e;
  color: #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/Reader\/public\/stylesheets\/global\.less}line{font-family:\00003526}}
.catalog .list-cate1:hover .ic,
.catalog .list-cate1.current .ic {
  background-position: 0 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/Reader\/public\/stylesheets\/global\.less}line{font-family:\00003531}}
.catalog .imgs {
  margin-top: 30px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/Reader\/public\/stylesheets\/global\.less}line{font-family:\00003533}}
.catalog .imgs li {
  width: 100%;
  height: 120px;
  overflow: hidden;
  margin-bottom: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/Reader\/public\/stylesheets\/global\.less}line{font-family:\00003539}}
.catalog .imgs img {
  width: 100%;
  height: auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/Reader\/public\/stylesheets\/global\.less}line{font-family:\00003546}}
.my.catalog .list-title {
  color: #000;
  background: #F5F4F2;
  border: 1px solid #ededed;
  /*height: 80px;
        line-height: 80px;*/
  height: auto;
  font-size: 16px;
  padding: 10px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/Reader\/public\/stylesheets\/global\.less}line{font-family:\00003555}}
.my.catalog .list-title img {
  width: 120px;
  height: 120px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/Reader\/public\/stylesheets\/global\.less}line{font-family:\00003561}}
.my.catalog .list-cate1 {
  text-align: center;
  height: 60px;
  line-height: 40px;
  padding: 10px 0;
  font-size: 16px;
  border-color: #EBE8E8;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/Reader\/public\/stylesheets\/global\.less}line{font-family:\00003571}}
.aside {
  float: left;
  margin-right: 35px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/Reader\/public\/stylesheets\/global\.less}line{font-family:\00003575}}
.inside {
  margin-left: 275px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/Reader\/public\/stylesheets\/global\.less}line{font-family:\00003579}}
.book-show .hd {
  height: 20px;
  margin-bottom: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/Reader\/public\/stylesheets\/global\.less}line{font-family:\00003583}}
.book-show .hd .page-curmbs li {
  float: left;
  margin-right: 5px;
  font-size: 14px;
  color: #999;
  background-image: url(../images/icon.png);
  background-position: right -263px;
  background-repeat: no-repeat;
  line-height: 1.333;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/Reader\/public\/stylesheets\/global\.less}line{font-family:\00003592}}
.book-show .hd .page-curmbs li.current {
  background-position: 0 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/Reader\/public\/stylesheets\/global\.less}line{font-family:\00003595}}
.book-show .hd .page-curmbs li a {
  padding: 0 10px 0 0;
  margin-right: 5px;
  background-repeat: no-repeat;
  background-position: right center;
  color: #666;
  font-size: 14px;
  line-height: 1.333;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/Reader\/public\/stylesheets\/global\.less}line{font-family:\00003607}}
.book-show .booklist {
  /*margin-top: 30px;*/
  min-height: 600px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/Reader\/public\/stylesheets\/global\.less}line{font-family:\00003612}}
.book-show .booklist-inner .book {
  width: 156px;
  height: 278px;
  padding: 8px;
  margin: 0 20px 30px 0;
  position: relative;
  background: #fdfdfb;
  float: left;
  color: #666;
  font-size: 14px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/Reader\/public\/stylesheets\/global\.less}line{font-family:\00003622}}
.book-show .booklist-inner .book:hover {
  background: #f0f0ed;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/Reader\/public\/stylesheets\/global\.less}line{font-family:\00003625}}
.book-show .booklist-inner .book .img-block {
  width: 138px;
  height: 182px;
  position: relative;
  display: inline-block;
  padding: 1px 3px 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/Reader\/public\/stylesheets\/global\.less}line{font-family:\00003631}}
.book-show .booklist-inner .book .img-block img {
  width: 134px;
  height: 178px;
  padding: 1px;
  display: inline-block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/Reader\/public\/stylesheets\/global\.less}line{font-family:\00003638}}
.book-show .booklist-inner .book .title-link {
  width: 140px;
  height: 42px;
  margin-top: 8px;
  display: inline-block;
  overflow: hidden;
  color: #666;
  -webkit-transition: color .2s;
          transition: color .2s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/Reader\/public\/stylesheets\/global\.less}line{font-family:\00003646}}
.book-show .booklist-inner .book .title-link .title {
  line-height: 17px;
  word-break: break-all;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/Reader\/public\/stylesheets\/global\.less}line{font-family:\00003651}}
.book-show .booklist-inner .book .book-num {
  width: 140px;
  margin-top: 6px;
  position: relative;
  height: 20px;
  cursor: default;
  text-align: center;
  overflow: hidden;
  word-break: break-all;
  color: #FB5E57;
}
/*详情列表*/
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/Reader\/public\/stylesheets\/global\.less}line{font-family:\00003666}}
.list {
  width: 880px;
  margin: 0 auto;
  padding-top: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/Reader\/public\/stylesheets\/global\.less}line{font-family:\00003670}}
.list .page-title {
  line-height: 28px;
  vertical-align: middle;
  font-size: 18px;
  color: #666;
  margin-bottom: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/Reader\/public\/stylesheets\/global\.less}line{font-family:\00003677}}
.list .list-result {
  min-height: 500px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/Reader\/public\/stylesheets\/global\.less}line{font-family:\00003679}}
.list .list-result li {
  padding-bottom: 30px;
  border-bottom: 1px solid #eee;
  margin-bottom: 20px;
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/Reader\/public\/stylesheets\/global\.less}line{font-family:\00003685}}
.list .list-result .pic {
  display: inline-block;
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/Reader\/public\/stylesheets\/global\.less}line{font-family:\00003688}}
.list .list-result .pic img {
  width: 120px;
  height: 160px;
  border-radius: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/Reader\/public\/stylesheets\/global\.less}line{font-family:\00003694}}
.list .list-result .detail {
  margin-left: 140px;
  color: #333;
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/Reader\/public\/stylesheets\/global\.less}line{font-family:\00003698}}
.list .list-result .detail h2 {
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 14px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/Reader\/public\/stylesheets\/global\.less}line{font-family:\00003702}}
.list .list-result .detail h2 a {
  color: #4EB951;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/Reader\/public\/stylesheets\/global\.less}line{font-family:\00003706}}
.list .list-result .detail div,
.list .list-result .detail p {
  font-size: 12px;
  margin-bottom: 4px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/Reader\/public\/stylesheets\/global\.less}line{font-family:\00003709}}
.list .list-result .detail div .p-title,
.list .list-result .detail p .p-title {
  display: inline-block;
  width: 80px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/Reader\/public\/stylesheets\/global\.less}line{font-family:\00003714}}
.list .list-result .detail .des {
  font-size: 14px;
  margin-top: 8px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/Reader\/public\/stylesheets\/global\.less}line{font-family:\00003718}}
.list .list-result .detail .collect {
  position: absolute;
  padding: 0 14px;
  font-size: 14px;
  line-height: 27px;
  border-radius: 4px;
  color: #2F9B34;
  background-color: #fefefe;
  border: 1px solid #59AF5D;
  text-align: center;
  font-weight: 400;
  top: 0;
  right: 20px;
  cursor: pointer;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/Reader\/public\/stylesheets\/global\.less}line{font-family:\00003732}}
.list .list-result .detail .collect:hover {
  background-color: #59AF5D;
  color: #fefefe;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/Reader\/public\/stylesheets\/global\.less}line{font-family:\00003737}}
.list .list-result .detail .b-catalog {
  font-size: 14px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/Reader\/public\/stylesheets\/global\.less}line{font-family:\00003739}}
.list .list-result .detail .b-catalog h2 {
  font-size: 14px;
  margin-left: 80px;
  margin-bottom: 8px;
  font-weight: 800;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/Reader\/public\/stylesheets\/global\.less}line{font-family:\00003745}}
.list .list-result .detail .b-catalog .showCbtn {
  padding: 0 14px;
  line-height: 27px;
  border-radius: 4px;
  color: #2f9b34;
  background-color: #fefefe;
  border: 1px solid #59af5d;
  text-align: center;
  font-weight: 400;
  cursor: pointer;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/Reader\/public\/stylesheets\/global\.less}line{font-family:\00003756}}
.list .list-result .detail .b-catalog .p-title {
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/Reader\/public\/stylesheets\/global\.less}line{font-family:\00003759}}
.list .list-result .detail .b-catalog ul {
  display: none;
  margin-left: 80px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/Reader\/public\/stylesheets\/global\.less}line{font-family:\00003762}}
.list .list-result .detail .b-catalog ul li {
  border-bottom: none;
  padding: 0;
  margin: 0 0 8px 0;
  font-weight: 800;
}
/*我的书架*/
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/Reader\/public\/stylesheets\/global\.less}line{font-family:\00003775}}
.myBooks {
  min-height: 600px;
  margin-top: 30px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/Reader\/public\/stylesheets\/global\.less}line{font-family:\00003780}}
.catalog-mod {
  position: fixed;
  right: 0;
  bottom: 10px;
  width: 250px;
  height: 300px;
  background-color: #53b856;
  color: #f0f0f0;
  padding: 10px;
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/Reader\/public\/stylesheets\/global\.less}line{font-family:\00003790}}
.catalog-mod h2 {
  margin-bottom: 10px;
  font-weight: bold;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/Reader\/public\/stylesheets\/global\.less}line{font-family:\00003795}}
.catalog-mod ul li {
  font-size: 14px;
  margin-bottom: 10px;
}
